.scrollButton {
  position: fixed;
  bottom: 3rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-100);
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  opacity: 0.6;
  background: var(--grayDark-100);
  border-radius: 8px;
  cursor: pointer;
  animation: fade 60ms ease-out;
  transition: background-color 125ms ease-out, opacity 125ms ease-out;
  &:hover {
    opacity: 0.8;
  }
  @media (min-width: 1300px) {
    bottom: 3rem;
    // right: 20%;
    right: 3rem;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
