.container {
  position: relative;
  &:hover,
  &:focus-visible {
    .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}

.tooltip {
  position: absolute;
  border-radius: 0.5rem;
  background-color: var(--grayDark-200);
  color: white;
  top: -40px;
  right: 50%;
  font-size: 0.7rem;
  box-sizing: border-box;
  width: max-content;
  padding: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
  transition: opacity 125ms ease-in;
}
.active {
  opacity: 1;
  visibility: visible;
}

.container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
